/* Color Themes - Variables */
$grey: #6b6b6b;
$green: #75B343;

// mixins
@mixin button($btn-color) {
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
  }

  @if $btn-color == grey  {
    background-color: $grey;
    &:hover {
      background-color: $green;
    }
  }
  @if $btn-color == green  {
    background-color: $green;
    &:hover {
      background-color: $grey;
    }
  }
}

