@import "./_variables.scss";
@import "./UI/buttons.scss";

.filters-section {
  padding: $padding-global-horizontal;
  padding-top: 10px;
  margin-bottom: 10px;
}
.filters-section__menu {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .filter {
    margin-right: 10px;
  }
}

.filters__menu-button {
  margin-left: 6px;
  background: none;
  border: none;
  color: #505050;

  &:hover {
    cursor: pointer;
  }
}

.categories {
  display: none;
}

.categories--show {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 300px;
  background-color: white;
  padding: $padding-global-horizontal;
  border-bottom: 1px solid $color-grey;
}

.categories__list {
  list-style-type: none;
  margin: 0 0 0 -5px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;

  .category {
    margin-right: 5px;

    .category__button {
      @include button(green);
      font-size: 12px;
    }
  }
}
