@import "./_variables.scss";
@import "./UI/buttons.scss";

.place {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 13px;
  overflow-y: scroll;

  .place__back {
    display: flex;
    margin-bottom: 8px;
  }

  .place__back-button {
    background-color: transparent;
    border: none;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }

  .flex-container {
    display: flex;
    align-items: center;

    .place__title {
      flex: 1 1 95%;
      margin: 0;
    }

    .place__favorite-button {
      color: $color-grey;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }

    .place__favorite-button--selected {
      color: #ffe13d;
      stroke: #cbcc6b;
      stroke-width: 2px;
      background: none;
      border: none;
    }
  }

  .place__opening-hours {
    font-weight: bold;
    font-size: 14px;
  }

  .place__edit-button {
    @include button(green);
    width: 20%;
    align-self: flex-end;
    margin-top: 20px;
  }
}