.edit-place {
  display: none;
}

.edit-place--show {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  color: rgb(88, 88, 88);
  box-sizing: border-box;
  padding: 10px 13px 30px 13px;
  overflow-y: auto;
}

.edit-place__cancel-button {
  @include button(grey);
}

.edit-place__flex-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-items: center;

  @include respond(tablet) {
    width: 60%;
    margin: 0 auto;
  }

  .edit-place__remove-button {
    background: none;
    border: none;
    color: #505050;

    &:hover {
      cursor: pointer;
      color: rgb(253, 74, 74);
    }
  }

  .edit-place__remove-button--hide {
    display: none;
  }
}

.edit-place__form {
  height: 100%;
  color: $color-dark-grey;

  @include respond(tablet) {
    width: 60%;
    margin: 0 auto;
  }

  .edit-place__form-items {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .edit-place__form-item {
      list-style-type: none;
      margin-bottom: 10px;
    }

    .edit-place__form-item--add-category {
      flex-grow: 1
    }

    .edit-place__form-item--submit {
      align-self: center;
      width: 100%;
    }
  }
}

.add-category {
  @include button(green);
  font-size: 12px
}

.edit-place__submit-button {
  @include button(green);
}

.edit-place__form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3px 0 0 0;
}

.edit-place__form label[for="name"],
.edit-place__form label[for="description"] {
  font-size: 12px;
  color: $color-green;
}

.opening-hours {
  display: flex;
  flex-wrap: wrap;

  .opening-hours___title {
    width: 100%;
    margin: 0;
    margin-bottom: 4px;
    font-size: 12px;
    color: $color-green;
  }

  .opening-hours__hour {
    margin-right: 10px;
  }
}

.edit-categories {
  display: flex;
  flex-wrap: wrap;

  .edit-categories___title {
    width: 100%;
    margin: 0;
    margin-bottom: 4px;
    font-size: 12px;
    color: $color-green;
  }

  .edit-categories__category {
    margin-right: 10px;
  }
}


.opening-hours__hour .edit-categories__category {
  display: inline-block;
}
